<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ToDo</title>
  <link rel="stylesheet" href="styles/card-content.css"/>
</head>
<body>
  <%- include("partials/header.ejs") %>
  <div class="card">
    <h2 class="card-title">Welcome to TODO website</h2>
    <p class="card-content"> Your go-to destination for staying organized and productive! Life can get overwhelming with countless tasks, appointments, and deadlines, but fear not; we've got you covered. Our user-friendly todo website is designed to simplify your life and help you manage your tasks efficiently..</p>
    <h2 class="card-title">What Our Website Can Do:</h2>
    <p class="card-content"> At our Website, we believe that staying organized shouldn't be a hassle. That's why we've created a platform that offers a range of features to make your task management effortless and effective. Here are some of the basic things our website can do:</p>
  </div>

  <ul class="flex-container wrap">
    <li class="flex-item">Create & Manage Tasks</li>
    <li class="flex-item">Prioritize Tasks</li>
    <li class="flex-item">Categorize Tasks</li>
    <li class="flex-item">Tick off as you go!</li>
  </ul>
  <%- include("partials/footer.ejs") %>
</body>
</html>


