<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="styles/content.css">
    <link rel="stylesheet" href="styles/card-content.css">
    <link rel="stylesheet" href="styles/today-style.css">
</head>
<body>
<%- include("partials/header.ejs") %>
<div class="card">
    <h2 class="card-title"><%= getCurrentDate() %></h2>
</div>
<div class= "container">
    <div class="todo-app">
      <h2>Work To Do <img src="/images/system.png" width="100"> </h2>
      <ul id="displayData">

      </ul>
      </div>
      
    </div>
</div>


<%- include("partials/footer.ejs") %>
<script>

function showTasks() {
    // Retrieve the saved data from localStorage
    var inputData = localStorage.getItem("data");

    // Assuming you have an element with the id "displayData" to display the data
    var displayElement = document.getElementById("displayData");

    // Check if inputData exists in localStorage
    if (inputData !== null) {
        // Create a temporary element to parse the HTML
        var tempElement = document.createElement("div");
        tempElement.innerHTML = inputData;

        // Remove the <span>×</span> elements if they exist
        var removeElements = tempElement.querySelectorAll("span");
        removeElements.forEach(function (removeElement) {
            removeElement.parentNode.removeChild(removeElement);
        });

        // Set the content of the display element as HTML without the removed <span>×</span> elements
        displayElement.innerHTML = tempElement.innerHTML;
    } else {
        // If inputData doesn't exist in localStorage, you can provide a default message
        displayElement.textContent = "No data transferred yet.";
    }
}

showTasks();



</script>

</body>
</html>