<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="Adiam" content="Ahmed" />
    <title>Todo Website</title>
    <meta
      name="Capstone Project"
      content="TODO List APP"
/>
    <link
    rel="icon"
    type="image/gif"
    sizes="32x32"
    href="Project/public/images/icons8-calendar.gif"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap"
      rel="stylesheet"/>
    <link rel="stylesheet" href="styles/content.css" />
    <link rel="stylesheet" href="styles/layout.css"/>
    

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
  
</head>
<body>
<header>

    <div class="header">
        <a href="/" class="logo">
            <i class="material-icons">checklist</i> TODO
          </a>
          <div class="header-right">
            <a  href="/Today">
              <i class="material-icons">today</i> Today
            </a>
            <a href="/Work">
              <i class="material-icons">work</i> Work
            </a>
        </div>
      </div>  
</header>

</body>
</html>