.card {
    margin-left: 50px;
    margin-top: 50px;
    width: 1300px; /* Set the width of the card */
    padding: 20px; /* Add some padding for spacing inside the card */
    border-radius: 5px; /* Add rounded corners */
    box-shadow: 0 2px 4px rgb(0, 0, 0, 0.1); /* Add a subtle shadow */
    background-color: #F5F5DC; /* Background color of the card */
}
.card-title {
    font-size: 20px; /* Set the title font size */
    margin-bottom: 10px; /* Add some spacing below the title */
}

/* Style for the card content */
.card-content {
    font-size: 16px; /* Set the content font size */
}

.flex-container {
    padding: 0;
    margin-left: 50px;
    list-style: none;
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
  }


.flex-item {
    background: whitesmoke;
    padding: 5px;
    width: 200px;
    height: 200px;
    margin: 100px;
    
    line-height: 100px;
    color: black;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
  }

  h2{
    margin-top: 20px;
  }
  