:root {
    --ff-sans: "Josefin Sans", sans-serif;
    --base-font: 1.6rem;
    --fw-normal: 400;
    --fw-bold: 700;
    --clr-gb-2: rgb(192, 130, 97);
    --img-bg: url("../images/background_design.jpg");
    --clr-primary: hsl(0, 0%, 98%);
    --clr-white: hsl(0, 0%, 100%);
    --clr-page-bg: hsl(235, 21%, 11%);
    --clr-card-bg: hsl(235, 24%, 19%);
    --clr-blue: rgb(235, 239, 149);
    --clr-green: hsl(192, 100%, 67%);
    --clr-pink: rgb(154, 59, 59);
    --clr-gb-1: hsl(236, 33%, 92%);
    --clr-gb-3: hsl(234, 11%, 52%);
    --clr-gb-4: hsl(237, 12%, 36%);
    --clr-gb-5: hsl(233, 14%, 35%);
    --clr-gb-6: hsl(235, 19%, 24%);
    --clr-box-shadow: hsl(0, 0%, 0%, 0.1);
    --contact-img : url("../../public/images/svg.png");
  }

  body {
    background: var(--img-bg) var(--clr-gb-2) no-repeat 0% 0% / 100vw 15rem;
    background-position: bottom;
    position: relative;
    padding-top: 3rem;
   
    margin: auto;
  }

  .header {
    overflow: hidden;
    background-color: var(--clr-gb-1);
    padding: 8px 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;

  }

  .header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 20px;
    line-height: 25px;
    border-radius: 4px;
  }

  .header a.logo {
    font-size: 35px;
    font-weight: bold;
  }
  .header a:hover {
    background-color: var(--clr-pink);
    color: white;
  }

  .header a.active {
    background-color: white;
    color: black;
  }
  
  
  .header-right {
    display: flex;
    gap: 20px
  }

  .material-icons{
    color: rgb(192, 160, 97);
    font-size: 30px !important; 
  }

  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
    }
  }

  
  .footer-bottom {
    font-size: large;
    text-align: center;
    padding: 20px 0;
  }
